<p id="notice"><%= notice %></p>

<p>
  <strong>Azione:</strong>
  <%= @station_feedback.azione %>
</p>

<%= link_to 'Edit', edit_station_feedback_path(@station_feedback) %> |
<%= link_to 'Back', station_feedbacks_path %>
